.icon {
    color: orangered;
}
.icon {
    margin-right: 30px;
    margin-left: 15px;
    margin-bottom: 10px;
}
.mol {
    color: orangered;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 10px;
    font-weight: bolder;
    margin-left: 8px;
    margin-right: 10px;
}
.header {
    justify-content: space-between;
}
.username {
    width: 150px;
}
.mobile {
    width: 150px;
}
.select {
    width: 150px;
    height: 40px;
}
.filter {
    width: 100px;
    height: 40px;
    border:none;
    color: black;
}
.clear {
    width: 100px;
    height: 40px;
    border:none;
    color: black;
}
.box1 {
    background-color: wheat;
}
.box1 h4 {
    color: orange;
}
.username {
    margin-right: 50px;
}
.mobile {
    margin-right: 50px;
}
.select {
    margin-right: 50px;
}
.filter {
    margin-right: 50px;
}
.box2 {
    background-color: wheat;
    margin-top: 10px;
}
.box2 h4 {
    color: orange;
}
.delete {
    border: none;
}
.add {
    border: none; 
}
.add a {
    color: white;
    text-decoration: none;
}
